body{
  background-color: aquamarine;
}
.heading{
    color:rgb(255, 255, 255);
    
   
}
.heading1{
    text-align: center;

}
.button{
  padding: 12px 15px;
  background-color: blueviolet;
  font-size: large;
  position: absolute;
  left: 23%;
  
}

.div1{
  top:150px;
  width: 200px;
  height: 100px;
   position: absolute;
   left:40%;
   text-align: center;
   background-color: rgb(20, 16, 20);
   border:2px solid wheat;
   border-radius:10px;

}